# Скопій у .env і заповни своїми значеннями
# Шляхи на хості (заміни на власні)
PIHOLE_ETC=/home/trip/pihole_unbound/etc-pihole
PIHOLE_DNSMASQ=/home/trip/pihole_unbound/etc-dnsmasq.d
TAILSCALE_STATE=/home/trip/tailscale/state

# Порти
PIHOLE_HTTP_PORT=80
PIHOLE_HTTPS_PORT=443
PIHOLE_DNS_PORT=53

# Hostname / domainname
PIHOLE_HOSTNAME=home.server
PIHOLE_DOMAINNAME=pi-hole
TS_HOSTNAME=homeserver-vpn

# Імена контейнерів
PIHOLE_CONTAINER_NAME=pihole-unbound
TAILSCALE_CONTAINER_NAME=tailscale

# Часовий пояс
TZ=Europe/Kyiv

PIHOLE_WEBPASSWORD=
# Tailscale auth key одноразовий і швидко протухає (за замовчуванням ~90 днів
# або одноразово, залежно від налаштувань) — генерувати новий перед деплоєм:
# https://login.tailscale.com/admin/settings/keys
TS_AUTHKEY=
# Додаткові аргументи tailscale — заміни 192.168.1.0/24 на свою підмережу
TS_EXTRA_ARGS=--advertise-exit-node --advertise-routes=192.168.1.0/24 --accept-dns=true
