# Скопій у .env і заповни своїми значеннями
# Шляхи на хості (заміни на власні)
JELLYFIN_CONFIG=/home/trip/jellyfin/config
TORRENTS_DIR=/mnt/ssd/torrents
QBITTORRENT_CONFIG=/mnt/ssd/qbittorrent/config
STORAGE_DIR=/mnt/ssd
NAVIDROME_DATA=/home/trip/navidrome/data
NAVIDROME_MUSIC=/home/trip/navidrome/navidrome_music

# Порти (пробросується і в контейнер через WEBUI_PORT/TORRENTING_PORT)
JELLYFIN_PORT=8096
WEBUI_PORT=8080
TORRENT_PORT=6881
NAVIDROME_PORT=4533

# Користувач / група хосту (owner волюмів)
PUID=1000
PGID=1000

# Часовий пояс
TZ=Europe/Kyiv

# Логування navidrome: info — норма, debug — для діагностики
ND_LOGLEVEL=debug

# Імена контейнерів
JELLYFIN_CONTAINER_NAME=jellyfin
QBITTORRENT_CONTAINER_NAME=qbittorrent
NAVIDROME_CONTAINER_NAME=navidrome

# https://www.last.fm/api/account/create
ND_LASTFM_APIKEY=
ND_LASTFM_SECRET=
